.Header {
  height: 8rem;
  width: 100vw;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
}
.HeaderWrapper {
  width: 128rem;
  display: flex;
}

.HeaderLeft,
.HeaderRight {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.HeaderLeft ul,
.HeaderRight ul {
  display: flex;
  list-style: none;
  align-items: center;
  color: #ffffff;
  font-family: Roboto Condensed;
  text-transform: uppercase;
  font-size: 1.8rem;
  margin: 0;
}
.HeaderLeft li {
  margin-right: 5rem;
}

.HeaderLeft a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 1.4rem 1.6rem;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s;
}
.HeaderLeft a:hover {
  background-color: #343a40;
  transform: scale(1.1);
}

.HeaderRight li {
  margin-left: 5rem;
}
.HeaderRight li:nth-child(1) {
  margin-left: 0;
}
.HeaderRight {
  display: flex;
}
.HeaderLogo img {
  height: 5rem;
  margin: 0;
}

input {
  border: none;
  color: #ffffff;
  height: 3rem;
  border-radius: 0.5rem;
  border-bottom: 0.2rem solid #da3832;
  width: 30rem;
  background: transparent;
  box-sizing: border-box;
  background-image: url("https://icon-library.com/images/search-icon-images/search-icon-images-10.jpg");
  font-size: 1.6rem;
}

input:focus {
  border: none;
  outline: none;
  border-bottom: 0.2rem solid #da3832;
  background: rgba(218, 56, 50, 0.1);
  border-radius: 0.5rem;
}

::placeholder {
  color: rgb(255, 255, 255, 0.7);
}

.HeaderBtnMobileNav {
  display: none;
  cursor: pointer;
  background-color: #343a40;
}
.HeaderBtnMobileNav div {
  width: 35px;
  height: 5px;
  background-color: #da3832;
  margin: 6px 0;
  transition: 0.4s;
}
.MobileHeader {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transform: translateX(0);
  background-color: rgb(112, 115, 118, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  margin-right: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  gap: 1.4rem;
  transition: all 0.5s ease-in;
}
.MobileHeader ul {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}
.MobileHeader li {
  list-style: none;
}
.MobileHeader a {
  font-size: 1.8rem;
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 1054px) {
  .HeaderLeft ul,
  .HeaderRight ul {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 880px) {
  .HeaderLeft ul,
  .HeaderRight ul {
    font-size: 1.4rem;
  }
  .HeaderLeft li {
    margin-right: 3rem;
  }

  input {
    width: 20rem;
  }
}

@media screen and (max-width: 660px) {
  .Header {
    height: 12rem;
  }
  .HeaderLeft {
    display: none;
  }
  .HeaderLeft ul {
    flex-direction: column;
    margin-right: 0;
  }
  .HeaderRight ul li:nth-child(2) {
    display: none;
  }
  .HeaderRight {
    justify-content: center;
  }

  .HeaderBtnMobileNav {
    display: inline-block;
    z-index: 9999;
  }
  .HeaderWrapper {
    justify-content: center;
    gap: 2rem;
    align-items: center;
  }
  input {
    width: 20rem;
    background-color: #dee2e6;
    border: none;
  }
  ::placeholder {
    color: rgb(112, 115, 118);
  }
}
